{% extends 'base.html' %}

{% block title%}
    <title>Home</title>
{% endblock title%}
{% block content%}
<div class="container">
    
   <div class="row">
        <div class="col-sm-3">
                <ul class="list-group mt-3">
                        <h5 class="list-group-item text-center font-weight-bold active">Filter By</h5>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                </ul>
        </div>
        
        <div class="col-sm-9 mx-auto main_content">
                {% for post in posts%}
                <div class="media bg-light p-2 m-3">
                        <a href="{% url 'profile' post.author.id %}" class="profile">
                        <img src="{{post.author.profile.image.url}}" class="mr-3 pro_image" alt="..." width='64' height="64">
                        </a>
                        <div class="media-body">
                          <h4 class="mt-0 text-capitalize">{{post.author.get_full_name}}</h4>
                          <a href="{% url 'view-post' post.id %}" id="title_search" class="text-uppercase d-block">{{post.title}}</a>
                          <small class="text-muted my-2">{{post.posted_date}}</small>
                          <p class="text">{{post.description}}</p>
                        </div>
                </div>
                {% endfor %}

                <nav aria-label="Page navigation example" class="ml-3 mt-1">
                        {% if is_paginated%}
                    
                          {% if page_obj.has_previous %}
                             <a href="?page=1" class="btn btn-outline-primary">First</a>
                             <a href="?pag={{page_obj.previous_page_number}}" class="btn btn-outline-primary">Previous</a>
                          {% endif %}
                          
                          
                          {% for num in page_obj.paginator.page_range %}
                    
                            {%if page_obj.number == num %}
                            <a href="?page={{num}}" class="btn btn-primary">{{num}}</a>
                            {%elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                            <a href="?page={{num}}" class="btn btn-outline-primary">{{num}}</a>
                            {%endif%}
                    
                          {% endfor%}
                    
                          {% if page_obj.has_next %}
                             <a href="?page={{page_obj.next_page_number}}" class="btn btn-outline-primary">Next</a>
                             <a href="?page={{page_obj.paginator.num_pages}}" class="btn btn-outline-primary">Last</a>
                          {% endif %}
                          
                    
                        {% endif%}
                        </nav>        


        </div>

   </div>
    
</div>

{% endblock%}