{% extends 'base.html' %}
{% block title%}
    <title>Password Change</title>
{% endblock title%}
{% block content%}
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-4 mx-auto">
            <form action="" class="mt-5" method="POST">
                <h5 class="alert alert-primary text-center">Password Change Form</h5>
                {%csrf_token%}
                {% for change_fm in form%}
                {{change_fm.label_tag}} {{change_fm}}  {{change_fm.errors|striptags}}
                {%endfor%}
                <input type="submit" class="btn btn-primary btn-block mt-3" value="Change Password">
            </form>
        </div>
    </div>
</div>
{% endblock%}