{% extends 'base.html' %}
{% block title%}
    <title>Register</title>
{% endblock title%}
{% block content%}
<div class="container">
  <div class="row mt-5">
    <div class="col-sm-4 mx-auto">

      <form action="" id="registerform" method="POST">
        <h4 class="text-center alert alert-primary text-uppercase">Register New User</h4>
        {% csrf_token %}
        {% for form in fm %}
        {{form}} {{form.errors|striptags}}
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block py-2 mt-3 px-5 font-weight-bold">Register</button>
      </form>

    </div>
  </div>
    
</div>

{% endblock%}